header {
  position: relative;

  h1 {
    text-align: left;
    @include respond-to(tablet) {
      text-align: center;
    }
    @include respond-to(desktop) {
      text-align: center;
    }
  }
}
