.hidden {
  display: none;
}

.modal {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.modal-content {
  background: $clear-color;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}
