// responsive
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1025px;
$breakpoint-max: 1440px;

// Colors var

$primary-color: #4ecdc4;
$secondary-color: #f5a623;
$tertirary-color: #ffe66d;
$dark-color: #292f36;
$clear-color: #f7fff7;
