#theme {
  position: absolute;
  top: 20px;
  right: 55px;
  color: black;
  transition: color 0.3s ease;
}

.details-button {
  width: 35%;
  border: solid 2px;
  border-radius: 12px;
  padding: 4px;
  @include respond-to(desktop) {
    width: 45%;
  }
}
