.favorite-icon {
  color: $secondary-color;
  position: absolute;
  right: 20px;
  top: 20px;
}

.delete-icon {
  cursor: pointer;
  color: $clear-color;
  position: absolute;
  right: 20px;
  top: 20px;
}
